<%= simple_form_for [@parent, @email], :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :sent_to, :as => :string, :label => "Send to", :input_html => {:value => @parent.sent_from} %>
    <%= f.input :copy_to, :as => :string, :label => "Copy to", :input_html => {:value => @parent.copy_to} %>
    <%= f.input :subject, :as => :string, :input_html => {:value => "Re: #{@parent.subject}"} %>
    <%= f.input :body, :input_html => {:value => @parent.body } %>
    <%= f.input :type, :as => :hidden, :input_html => {:value => params[:type]}%>
  </div>

  <div class="actions">
    <%= f.button :submit, "Send", :class => "btn btn-primary"  %>
  </div>
<% end %>