<%= link_to "Agile Champ", root_path, :class => 'brand' %>
<ul class="nav">
    <li><%= link_to "Projects", projects_path %></li>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Sign out', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Sign in', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
<ul class="nav pull-right">
  <li style="padding:10px;"><%= "Logged in as #{current_user.full_name}" if current_user %></li>
</ul>
